.vertical-align {
    display: grid;
    grid-template-rows: 4;
    width: 200px;
    height: 200px;
}

.post-border{
    border: 1px solid gray;
}

.brief-info {
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    @extend .post-border
}

.post-id {
 @extend .post-border
}

.post-title {
    @extend .post-border
}

.post-writer-id {

    @extend .post-border
}

.post-date{
    width: 50px;
    @extend .post-border
}