.vertical-align {
    display: grid;
    grid-template-rows: 4;
    height: 200px;
    width: 800px;
}

.post-border{
    border: 1px solid gray;
}

.brief-info {
    @extend .post-border;
    height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.post-id {
    @extend .post-border;
    width: 40px;
}

.post-title {
    @extend .post-border;
    width: 200px;
}

.post-writer-id {
    @extend .post-border;
    width: 150px;
}

.post-date{
    @extend .post-border;
    width: 200px;
}